.test-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: 10vh auto 10vh;
    gap: 10px;
}

.header{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.header h2{
    color: var(--active-text);
    margin-left: 1vw;
    font-family: 'Azeret Mono', monospace; 
}

.center-box{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    max-width: 100%;
    height: 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    display: grid;
    grid-template-rows:15vh 10vh auto;
    gap: 10px;
}

.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
    height: 8vh;
    grid-row: 2/3;
}

.counter{
    width: 10vw;
    display: flex;
}

.counter p{
    color: var(--active-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.modes-menu{
    display: flex;
    font-size: 1.2rem;
}

.modes-menu h4{
    margin-right: 10px;
    color: var(--active-color);
}

.options-menu{
    margin-right: 20px;
}

.option-button{
    margin: 0px 15px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}

.option-button.active{
    color: var(--active-color);
    font-weight: 600;
}

.text-box{
    grid-row: 3/4;
    height: 30vh;
    font-size: 2rem;
    text-align: left;
    font-family: 'Azeret Mono', monospace; 

    display: block;
    position: relative;

    margin-left: unset;
    overflow: hidden;
    transition: 0.25s;
    scroll-behavior: smooth;

}

.words{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding-top: 7px;

    transform: translateY(0); /* Initial position for scrolling effect */
    transition: transform 0.3s ease;
}

.word{
    /*display: inline;*/
    margin-right: 8px;
    color: var(--text-color);
    display: inline-flex;
}

.hidden-input {
    opacity: 0;
    height: 7px;
}

.hidden-input:focus {
    outline: none;
}

.char.active{
    border-left: 2px solid;
    animation: blinkingLeft 2s infinite;
    animation-timing-function: ease;
}
@keyframes blinkingLeft{
    0% {border-left-color:var(--active-color)}
    50% {border-left-color:rgb(82, 35, 168);}
    100% {border-left-color:var(--active-color)}
}
.char{
    color: var(--text-color);
}

.char.correct{
    color: var(--active-text);
}

.char.incorrect{
    color: var(--mistake-color);
}


.results-content{
    height: 100%;
    display: grid;
    grid-template-columns: 10vw auto;
    grid-template-rows:auto 20vh;
    gap: 30px;
    align-items: center;
    height: 564px;
}

.stats{
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        "wpm" 
        "acc";
    font-size: 36px;
}

.wpm, .acc{
    grid-area: wpm;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2vw;
}

.acc{
    grid-area: acc;
}

.data{
    color: var(--active-color);
}

.graph{
    width: 83%;
    display: flex;
}

.char-status{
    grid-column: 2/3;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 4vw;
}

.char-status span{
    color: var(--active-color);
    font-size: 2.5rem;
}